<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="iot.hustler.io.EasyDictionary">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="iot.hustler.io.EasyDictionary.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="iot.hustler.io.EasyDictionary.ui.SwiftSearchActivity"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleInstance"
            android:parentActivityName="iot.hustler.io.EasyDictionary.ui.MainActivity"
            android:taskAffinity=""
            android:theme="@style/popup_style2"
            tools:targetApi="lollipop" />
        <activity android:name=".base.BaseActivity" />
    </application>

</manifest>